<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>SearchHub Einstellungen</title>
        <title lang="de-DE">SearchHub settings</title>

        <input-field type="bool">
            <name>nuonicSearchHubActiveState</name>
            <label>Activate SearchHub?</label>
            <label lang="de-DE">SearchHub aktivieren?</label>
        </input-field>

        <input-field type="bool">
            <name>nuonicSearchHubSmartQueryState</name>
            <label>Activate SmartQuery</label>
            <label lang="de-DE">SmartQuery aktivieren?</label>
        </input-field>

        <input-field type="bool">
            <name>nuonicSearchHubSmartSuggestState</name>
            <label>Activate SmartSuggest</label>
            <label lang="de-DE">SmartSuggest aktivieren?</label>
        </input-field>

        <input-field type="text">
            <name>nuonicSearchHubScriptId</name>
            <label>Script ID</label>
            <label lang="de-DE">Script ID</label>
        </input-field>

        <input-field type="text">
            <name>nuonicSearchHubServiceUrl</name>
            <label>Service URL</label>
            <label lang="de-DE">Service URL</label>
        </input-field>

        <input-field type="text">
            <name>nuonicSearchHubTenantName</name>
            <label>Tenant name</label>
            <label lang="de-DE">Mandanten Name</label>
        </input-field>

        <input-field type="text">
            <name>nuonicSearchHubTenantChannel</name>
            <label>Tenant channel</label>
            <label lang="de-DE">Mandanten Channel</label>
        </input-field>
    </card>
</config>
