<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Frontend tracking integration</title>
        <title lang="de-DE">Frontend Tracking-Integration</title>

        <input-field type="checkbox">
            <name>activeState</name>
            <label>Tracking enabled</label>
            <label lang="de-DE">Tracking aktiv</label>
        </input-field>

        <input-field type="text">
            <name>scriptId</name>
            <label>Script ID</label>
            <label lang="de-DE">Script ID</label>
        </input-field>
    </card>

    <card>
        <title>API-Connection / search features</title>
        <title lang="de-DE">API-Verbindung / Suchfunktionen</title>

        <input-field type="text">
            <name>serviceUrl</name>
            <label>Service URL</label>
            <label lang="de-DE">Service URL</label>
        </input-field>

        <input-field type="text">
            <name>tenantName</name>
            <label>Tenant name</label>
            <label lang="de-DE">Mandanten Name</label>
        </input-field>

        <input-field type="text">
            <name>tenantChannel</name>
            <label>Tenant channel</label>
            <label lang="de-DE">Mandanten Channel</label>
        </input-field>

        <input-field type="bool">
            <name>smartQueryState</name>
            <label>SmartQuery</label>
            <label lang="de-DE">SmartQuery?</label>
        </input-field>

        <input-field type="bool">
            <name>smartSuggestState</name>
            <label>SmartSuggest</label>
            <label lang="de-DE">SmartSuggest?</label>
        </input-field>

        <input-field type="int">
            <name>smartSuggestLimit</name>
            <label>Max amount of suggestions</label>
            <label lang="de-DE">Maximale Anzahl von Vorschlägen</label>
        </input-field>
    </card>
</config>
